$mask-clip-scale: (
  "border": border-box,
  "padding": padding-box,
  "content": content-box,
  "fill": fill-box,
  "stroke": stroke-box,
  "view": view-box,
  "no-clip": no-clip,
) !default;

$mask-composite-scale: (
  "add": add,
  "subtract": subtract,
  "intersect": intersect,
  "exclude": exclude,
) !default;

$mask-origin-scale: (
  "border": border-box,
  "padding": padding-box,
  "content": content-box,
  "fill": fill-box,
  "stroke": stroke-box,
  "view": view-box,
) !default;

$mask-position-scale: (
  "top-left": top left,
  "top": top,
  "top-right": top right,
  "left": left,
  "center": center,
  "right": right,
  "bottom-left": bottom left,
  "bottom": bottom,
  "bottom-right": bottom right,
) !default;
$mask-repeat-scale: (
  "repeat": repeat,
  "no-repeat": no-repeat,
  "x": repeat-x,
  "y": repeat-y,
  "space": space,
  "round": round,
) !default;

$mask-size-scale: (
  "auto": auto,
  "cover": cover,
  "contain": contain,
) !default;

$mask-type-scale: (
  "alpha": alpha,
  "luminance": luminance,
);
