$text-shadows: (
  "sm": 0 1px 2px var(--las-text-shadow-color, rgb(0 0 0 / 0.1)),
  "": 0 2px 4px var(--las-text-shadow-color, rgb(0 0 0 / 0.1)),
  "md": 0 4px 8px var(--las-text-shadow-color, rgb(0 0 0 / 0.12)),
  "lg": 0 8px 16px var(--las-text-shadow-color, rgb(0 0 0 / 0.12)),
  "none": none,
);
