$backface-scale: (
  "hidden": "hidden",
  "visible": "visible",
) !default;

$perspective-scale: (
  "dramatic": 100px,
  "near": 300px,
  "normal": 500px,
  "midrange": 800px,
  "distant": 1200px,
  "none": none,
) !default;

$rotate-values: (
  "0": 0deg,
  "1": 1deg,
  "2": 2deg,
  "3": 3deg,
  "6": 6deg,
  "12": 12deg,
  "45": 45deg,
  "90": 90deg,
  "180": 180deg,
  "none": 0,
) !default;

$skew-values: (
  "0": 0deg,
  "1": 1deg,
  "2": 2deg,
  "3": 3deg,
  "6": 6deg,
  "12": 12deg,
  "45": 45deg,
) !default;

$perspective-origin-scale: (
  "center": center,
  "top": top,
  "top-right": top right,
  "right": right,
  "bottom-right": bottom right,
  "bottom": bottom,
  "bottom-left": bottom left,
  "left": left,
  "top-left": top left,
) !default;

$transform-origin-scale: (
  "center": center,
  "top": top,
  "top-right": top right,
  "right": right,
  "bottom-right": bottom right,
  "bottom": bottom,
  "bottom-left": bottom left,
  "left": left,
  "top-left": top left,
) !default;

$scale-values: (
  "none": 0,
  "0": 0,
  "50": 50%,
  "75": 75%,
  "90": 90%,
  "95": 95%,
  "100": 100%,
  "105": 105%,
  "110": 110%,
  "125": 125%,
  "150": 150%,
  "200": 200%,
) !default;
