@use "sass:string";
@use "sass:map";
@use "../mixins" as mix;
@use "../variables" as var;
@use "../core/functions" as func;

@each $side-key, $side-prop in var.$border-sides {
  $width-values: ();

  @each $width-key, $width-val in var.$border-width {
    $width-values: map.merge(
      $width-values,
      (
        $width-key: (
            #{$side-prop}-width: if($width-val == 0, 0, $width-val),
            #{$side-prop}-style: if($width-val == 0, none, solid),
          ),
      )
    );
  }
  @include mix.generate-multi-utility(null, $side-key, $width-values);
}

@each $side-key, $side-prop in var.$border-sides {
  $property: if($side-key == "border", border-style, #{$side-prop}-style);
  $prefix: $side-key;
  @include mix.generate-utility($property, $prefix, var.$border-style);
}

@each $class-prefix, $props in var.$border-radius-areas {
  @include mix.generate-multi-utility($props, $class-prefix, var.$border-radius-scale);
}
