@use "../variables" as var;
@use "../core/functions" as func;
@use "../mixins" as mix;

@each $name, $value in var.$colors {
  $scale: ();
  @if $name == "white" or $name == "black" or $name == "transparent" {
    $scale: (
      "": $value,
    );
  } @else {
    $scale: func.generate-color-scale($value);
  }
  @include mix.generate-color-utilities($scale, $name);
}
