@use "../variables" as var;
@use "../mixins" as mix;

@include mix.generate-utility(cursor, cursor, var.$cursor-values);
@include mix.generate-utility(field-sizing, field-sizing, var.$field-sizing-values);
@include mix.generate-utility(pointer-events, pointer-events, var.$pointer-events-values);
@include mix.generate-utility(resize, resize, var.$resize-values);
@include mix.generate-utility(scroll-behavior, scroll, var.$scroll-values);
@include mix.generate-utility(scroll-snap-type, snap, var.$scroll-snap-type-values);
@include mix.generate-utility(scroll-snap-align, snap, var.$scroll-snap-align-values);
@include mix.generate-utility(scroll-snap-stop, snap, var.$scroll-snap-stop-values);
@include mix.generate-utility(touch-action, touch, var.$touch-action-values);
@include mix.generate-utility(user-select, select, var.$user-select-values);
@include mix.generate-utility(will-change, will-change, var.$will-change-values);
@include mix.generate-utility(--las-scroll-snap-strictness, snap, var.$scroll-snap-strictness-values);
