@use "../variables" as var;
@use "../mixins" as mix;

@include mix.generate-utility(aspect-ratio, aspect, var.$aspect-ratios);
@include mix.generate-utility(break-after, break-after, var.$before-and-after-values);
@include mix.generate-utility(break-before, break-before, var.$before-and-after-values);
@include mix.generate-utility(break-inside, break-inside, var.$break-inside-values);
@include mix.generate-utility(box-decoration-break, box-decoration, var.$box-decoration-break-values);
@include mix.generate-utility(box-sizing, box, var.$box-sizing-values);
@include mix.generate-utility(float, float, var.$float-values);
@include mix.generate-utility(clear, clear, var.$clear-values);
@include mix.generate-utility(isolation, isolation, var.$isolation-values);
@include mix.generate-utility(object-fit, object, var.$object-fit-values);
@include mix.generate-utility(object-position, object, var.$object-position-values);
@include mix.generate-utility(overflow, overflow, var.$overflow-values);
@include mix.generate-utility(overflow-x, overflow-x, var.$overflow-values);
@include mix.generate-utility(overflow-y, overflow-y, var.$overflow-values);
@include mix.generate-utility(overscroll-behavior, overscroll, var.$overscroll-values);
@include mix.generate-utility(overscroll-behavior-x, overscroll-x, var.$overscroll-values);
@include mix.generate-utility(overscroll-behavior-y, overscroll-y, var.$overscroll-values);
@include mix.generate-utility(position, null, var.$position-values);
@include mix.generate-utility(visibility, visible, var.$visibility-values);
@include mix.generate-utility(z-index, z, var.$z-values);
@include mix.generate-negative-utilities(z-index, z, var.$z-values);
@include mix.generate-utility(forced-color-adjust, forced-color-adjust, var.$forced-color-adjust-values);
