@use "../mixins" as mix;
@use "../variables" as var;
@use "../core/functions" as func;

@each $dir, $property in var.$padding-directions {
  $class-prefix: if($dir == "", "p", "p#{$dir}");
  @include mix.generate-utility($property, $class-prefix, var.$sizing);
}

$spacing-sizing: func.merge-maps(
  var.$sizing,
  (
    auto: auto,
  )
);
@each $dir, $property in var.$margin-directions {
  $class-prefix: if($dir == "", "m", "m#{$dir}");
  @include mix.generate-utility($property, $class-prefix, $spacing-sizing);
  @include mix.generate-negative-utilities($property, $class-prefix, $spacing-sizing);
}

@each $dir, $property in var.$gap-directions {
  $class-prefix: if($dir == "", "gap", "gap-#{$dir}");
  @include mix.generate-utility($property, $class-prefix, var.$sizing);
}

$inset-sizing: func.merge-maps(
  var.$sizing,
  var.$fractions,
  (
    full: 100%,
    auto: auto,
  )
);
@each $dir, $property in var.$inset-directions {
  $class-prefix: $dir;
  @include mix.generate-utility($property, $class-prefix, $inset-sizing);
  @include mix.generate-negative-utilities($property, $class-prefix, $inset-sizing);
}

@each $dir, $property in var.$scroll-margin-directions {
  $class-prefix: if($dir == "", "scroll-m", "scroll-m#{$dir}");

  @include mix.generate-utility($property, $class-prefix, var.$sizing);
  @include mix.generate-negative-utilities($property, $class-prefix, var.$sizing);
  @include mix.generate-utility($property, $class-prefix, var.$fractions);
  @include mix.generate-negative-utilities($property, $class-prefix, var.$fractions);
}

@each $dir, $property in var.$scroll-padding-directions {
  $class-prefix: if($dir == "", "scroll-p", "scroll-p#{$dir}");

  @include mix.generate-utility($property, $class-prefix, var.$sizing);
  @include mix.generate-negative-utilities($property, $class-prefix, var.$sizing);
  @include mix.generate-utility($property, $class-prefix, var.$fractions);
  @include mix.generate-negative-utilities($property, $class-prefix, var.$fractions);
}
