.btn {
  @apply p-3 border border-solid text-sm rounded-lg;

  &-primary {
    @apply px-3 py-2 rounded-lg border-gray-500 border  bg-gray-50 border-gray-200 hover:bg-black transition-all duration-400 hover:text-red-500  md:hover:bg-white md:hover:text-black;
  }
}
