$backdrop-filter: (
        "blur": (
                "xs": blur(4px),
                "sm": blur(8px),
                "md": blur(12px),
                "lg": blur(16px),
                "xl": blur(24px),
                "2xl": blur(40px),
                "3xl": blur(64px),
                "none": none
        ),
        "brightness": (
                "0": brightness(0%),
                "25": brightness(25%),
                "50": brightness(50%),
                "75": brightness(75%),
                "90": brightness(90%),
                "95": brightness(95%),
                "100": brightness(100%),
                "105": brightness(105%),
                "110": brightness(110%),
                "125": brightness(125%),
                "150": brightness(150%),
                "175": brightness(175%),
                "200": brightness(200%)
        ),
        "contrast": (
                "0": contrast(0%),
                "25": contrast(25%),
                "50": contrast(50%),
                "75": contrast(75%),
                "90": contrast(90%),
                "100": contrast(100%),
                "125": contrast(125%),
                "150": contrast(150%),
                "200": contrast(200%)
        ),
        "grayscale": (
                "0": grayscale(0%),
                "5": grayscale(5%),
                "10": grayscale(10%),
                "15": grayscale(15%),
                "20": grayscale(20%),
                "25": grayscale(25%),
                "30": grayscale(30%),
                "35": grayscale(35%),
                "40": grayscale(40%),
                "45": grayscale(45%),
                "50": grayscale(50%),
                "55": grayscale(55%),
                "60": grayscale(60%),
                "65": grayscale(65%),
                "70": grayscale(70%),
                "75": grayscale(75%),
                "80": grayscale(80%),
                "85": grayscale(85%),
                "90": grayscale(90%),
                "95": grayscale(95%),
                "100": grayscale(100%)
        ),
        "hue-rotate": (
                "0": hue-rotate(0deg),
                "30": hue-rotate(30deg),
                "60": hue-rotate(60deg),
                "90": hue-rotate(90deg),
                "120": hue-rotate(120deg),
                "180": hue-rotate(180deg)
        ),
        "invert": (
                "0": invert(0%),
                "25": invert(25%),
                "50": invert(50%),
                "75": invert(75%),
                "100": invert(100%)
        ),
        "opacity": (
                "0": opacity(0%),
                "5": opacity(5%),
                "10": opacity(10%),
                "20": opacity(20%),
                "25": opacity(25%),
                "30": opacity(30%),
                "40": opacity(40%),
                "50": opacity(50%),
                "60": opacity(60%),
                "70": opacity(70%),
                "75": opacity(75%),
                "80": opacity(80%),
                "90": opacity(90%),
                "95": opacity(95%),
                "100": opacity(100%)
        ),
        "saturate": (
                "0": saturate(0%),
                "50": saturate(50%),
                "100": saturate(100%),
                "150": saturate(150%),
                "200": saturate(200%)
        ),
        "sepia": (
                "0": sepia(0%),
                "50": sepia(50%),
                "100": sepia(100%),
                "150": sepia(150%),
                "200": sepia(200%)
        )
);