$border-radius: (
        none: 0,
        sm: 0.125rem,
        default: 0.25rem,
        md: 0.375rem,
        lg: 0.5rem,
        xl: 0.75rem,
        '2xl': 1rem,
        full: 9999px
);

$border-width: (
        DEFAULT: 1px,
        0: 0,
        2: 2px,
        4: 4px,
        8: 8px
);

$border-styles: (
        solid,
        dashed,
        dotted,
        double,
        none
);
