$display-values: (
        hidden: none,
        block: block,
        inline: inline,
        inline-block: inline-block,
        flex: flex,
        inline-flex: inline-flex,
        grid: grid,
        inline-grid: inline-grid,
        table: table,
        table-row: table-row,
        table-cell: table-cell
);