$justify-content-values: (
        "start": flex-start,
        "end": flex-end,
        "end-safe": safe flex-end,
        "center": center,
        "center-safe": safe center,
        "between": space-between,
        "around": space-around,
        "evenly": space-evenly,
        "stretch": stretch,
        "baseline": baseline,
        "normal": normal
);

$justify-items-values: (
        "start": start,
        "end": end,
        "center": center,
        "stretch": stretch,
        "normal": normal
);

$justify-self-values: (
        "auto": auto,
        "start": start,
        "center": center,
        "end": end,
        "stretch": stretch,
        "normal": normal,
        "center-safe": safe center,
        "end-safe": safe end
);