$sizing: (
        '0': 0,
        'px': 1px,
        '0.5': 0.125rem, // 2px
        '1': 0.25rem, // 4px
        '2': 0.5rem, // 8px
        '3': 0.75rem, // 12px
        '4': 1rem, // 16px
        '5': 1.25rem, // 20px
        '6': 1.5rem, // 24px
        '8': 2rem, // 32px
        '10': 2.5rem, // 40px
        '12': 3rem, // 48px
        '16': 4rem, // 64px
        '20': 5rem, // 80px
        '24': 6rem, // 96px
        '32': 8rem, // 128px
        '40': 10rem, // 160px
        '48': 12rem, // 192px
        '56': 14rem, // 224px
        '64': 16rem, // 256px
        '72': 18rem, // 288px
        '80': 20rem, // 320px
        '96': 24rem, // 384px
) !default;

$fractions: (
        '1/2': 50%,
        '1/3': 33.333333%,
        '2/3': 66.666667%,
        '1/4': 25%,
        '2/4': 50%,
        '3/4': 75%,
        '1/5': 20%,
        '2/5': 40%,
        '3/5': 60%,
        '4/5': 80%,
        '1/6': 16.666667%,
        '2/6': 33.333333%,
        '3/6': 50%,
        '4/6': 66.666667%,
        '5/6': 83.333333%,
        '1/12': 8.333333%,
        '2/12': 16.666667%,
        '3/12': 25%,
        '4/12': 33.333333%,
        '5/12': 41.666667%,
        '6/12': 50%,
        '7/12': 58.333333%,
        '8/12': 66.666667%,
        '9/12': 75%,
        '10/12': 83.333333%,
        '11/12': 91.666667%,
) !default;

$special-sizes: (
        'auto': auto,
        'full': 100%,
        'screen': 100vh,
        'svh': 100svh,
        'lvh': 100lvh,
        'dvh': 100dvh,
        'min': min-content,
        'max': max-content,
        'fit': fit-content,
) !default;

$max-widths: (
        '0': 0,
        'none': none,
        'xs': 20rem, // 320px
        'sm': 24rem, // 384px
        'md': 28rem, // 448px
        'lg': 32rem, // 512px
        'xl': 36rem, // 576px
        '2xl': 42rem, // 672px
        '3xl': 48rem, // 768px
        '4xl': 56rem, // 896px
        '5xl': 64rem, // 1024px
        '6xl': 72rem, // 1152px
        '7xl': 80rem, // 1280px
        'full': 100%,
        'min': min-content,
        'max': max-content,
        'fit': fit-content,
        'prose': 65ch,
        'screen-sm': 640px,
        'screen-md': 768px,
        'screen-lg': 1024px,
        'screen-xl': 1280px,
        'screen-2xl': 1536px,
) !default;