$transition-scale: (
        "all": (
                "transition-property": all,
                "transition-timing-function": cubic-bezier(0.4, 0, 0.2, 1),
                "transition-duration": 150ms
        ),
        "colors": (
                "transition-property": "color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, gradient-from, gradient-via, gradient-to",
                "transition-timing-function": cubic-bezier(0.4, 0, 0.2, 1),
                "transition-duration": 150ms
        ),
        "opacity": (
                "transition-property": opacity,
                "transition-timing-function": cubic-bezier(0.4, 0, 0.2, 1),
                "transition-duration": 150ms
        ),
        "shadow": (
                "transition-property": box-shadow,
                "transition-timing-function": cubic-bezier(0.4, 0, 0.2, 1),
                "transition-duration": 150ms
        ),
        "transform": (
                "transition-property": "transform, translate, scale, rotate",
                "transition-timing-function": cubic-bezier(0.4, 0, 0.2, 1),
                "transition-duration": 150ms
        ),
        "none": (
                "transition-property": none,
                "transition-timing-function": cubic-bezier(0.4, 0, 0.2, 1),
                "transition-duration": 150ms
        )
);

$transition-behavior-scale: (
        "normal": normal,
        "discrete": allow-discrete
) !default;

$transition-duration-scale: (
        "75":75ms,
        "100":100ms,
        "150":150ms,
        "200": 200ms,
        "300": 300ms,
        "500": 500ms,
        "700": 700ms,
        "1000": 1000ms,
        "initial": initial
) !default;

$transition-ease-scale: (
        "linear": linear,
        "in": cubic-bezier(0.4, 0, 1, 1),
        "out": cubic-bezier(0, 0, 0.2, 1),
        "in-out": cubic-bezier(0.4, 0, 0.2, 1),
        "initial": initial
) !default;


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

$animation-scale: (
        "spin": spin 1s linear infinite,
        "ping": ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
        "pulse": pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
        "bounce": bounce 1s infinite,
        "none": none
) !default;
