$font-families: (
        sans: 'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
        serif: 'ui-serif, Georgia, Cambria, "Times New Roman", Times, serif',
        mono: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace'
) !default;

$font-sizes: (
        xs: 0.75rem,
        sm: 0.875rem,
        base: 1rem,
        lg: 1.125rem,
        xl: 1.25rem,
        '2xl': 1.5rem,
        '3xl': 1.875rem,
        '4xl': 2.25rem,
        '5xl': 3rem,
        '6xl': 3.75rem,
        '7xl': 4.5rem,
        '8xl': 6rem
);

$font-weights: (
        "thin": 100,
        "extra-light": 200,
        "light": 300,
        "normal": 400,
        "medium": 500,
        "semibold": 600,
        "bold": 700,
        "extra-bold": 800,
        "black": 900
) !default;

$line-heights: (
        none: 1,
        tight: 1.25,
        snug: 1.375,
        normal: 1.5,
        relaxed: 1.625,
        loose: 2
) !default;

$letter-spacing: (
        tighter: -0.05em,
        tight: -0.025em,
        normal: 0em,
        wide: 0.025em,
        wider: 0.05em,
        widest: 0.1em
) !default;

$text-aligns: (
        left: left,
        center: center,
        right: right,
        justify: justify
) !default;