$variants: (
        "hover": ":hover",
        "focus": ":focus",
        "active": ":active",
        "disabled": ":disabled",
        "first": ":first-child",
        "last": ":last-child",
        "odd": ":nth-child(odd)",
        "even": ":nth-child(even)"
);