//@forward "root";
@forward "breakpoint";
@forward "sizing";
@forward "variant";
@forward "display";
@forward "flex";
@forward "grid";
@forward "spacing";
@forward "typography";
@forward "layout";
@forward "background";
@forward "border";
@forward "outline";
@forward "opacity";
@forward "mix-blend-mode";
@forward "mask";
@forward "filter";
@forward "backdrop-filter";
@forward "tables";
@forward "transition";
@forward "transform";
@forward "interactive";
@forward "color";
@forward "shadow";
@forward "text-shadow";
@forward "animation";





