@use '../variables' as var;

// ============================
// BORDER WIDTH
// ============================
@each $key, $value in var.$border-width {
  $suffix: if($key == 'DEFAULT', '', "-#{$key}");

  .border#{$suffix} {
    border-width: #{$value};
  }
  .border-t#{$suffix} { border-top-width: #{$value}; }
  .border-r#{$suffix} { border-right-width: #{$value}; }
  .border-b#{$suffix} { border-bottom-width: #{$value}; }
  .border-l#{$suffix} { border-left-width: #{$value}; }

  // X ve Y eksenleri
  .border-x#{$suffix} { border-left-width: #{$value}; border-right-width: #{$value}; }
  .border-y#{$suffix} { border-top-width: #{$value}; border-bottom-width: #{$value}; }
}


// ============================
// BORDER STYLE
// ============================
@each $style in var.$border-styles {
  .border-#{$style} {
    border-style: #{$style};
  }
}

// ============================
// BORDER RADIUS
// ============================
@each $key, $value in var.$border-radius {
  $suffix: if($key == 'default', '', "-#{$key}");

  // Tüm köşeler
  .rounded#{$suffix} { border-radius: #{$value}; }

  // Eksenler
  .rounded-t#{$suffix} { border-top-left-radius: #{$value}; border-top-right-radius: #{$value}; }
  .rounded-r#{$suffix} { border-top-right-radius: #{$value}; border-bottom-right-radius: #{$value}; }
  .rounded-b#{$suffix} { border-bottom-left-radius: #{$value}; border-bottom-right-radius: #{$value}; }
  .rounded-l#{$suffix} { border-top-left-radius: #{$value}; border-bottom-left-radius: #{$value}; }

  // Tek köşeler
  .rounded-tl#{$suffix} { border-top-left-radius: #{$value}; }
  .rounded-tr#{$suffix} { border-top-right-radius: #{$value}; }
  .rounded-bl#{$suffix} { border-bottom-left-radius: #{$value}; }
  .rounded-br#{$suffix} { border-bottom-right-radius: #{$value}; }

  // Çapraz (opsiyonel)
  .rounded-tl-br#{$suffix} { border-top-left-radius: #{$value}; border-bottom-right-radius: #{$value}; }
  .rounded-tr-bl#{$suffix} { border-top-right-radius: #{$value}; border-bottom-left-radius: #{$value}; }
}


// ============================
// BORDER COLOR
// ============================
@each $name, $shades in var.$colors {
  @each $shade, $color in $shades {
    $suffix: if($shade == 'DEFAULT', '', "-#{$shade}");
    .border-#{"#{$name}#{$suffix}"} {
      border-color: #{$color};
    }
  }
}
