@use '../core/functions' as fn;
@use '../variables' as var;

@each $name, $shades in var.$colors {
  @each $shade, $color in $shades {

    // shade değeri DEFAULT ise class'ta göstermiyoruz
    $shadeSuffix: if($shade == 'DEFAULT', '', '-#{$shade}');

    .bg-#{"#{$name}#{$shadeSuffix}"} {
      background-color: #{$color};
    }

    .text-#{"#{$name}#{$shadeSuffix}"} {
      color: #{$color};
    }

    .border-#{"#{$name}#{$shadeSuffix}"} {
      border-color: #{$color};
    }

    // Opacity versiyonları
    @each $opKey, $opValue in var.$opacity {
      .bg-#{"#{$name}#{$shadeSuffix}\\/#{$opKey}"} {
        background-color: fn.color-with-opacity($color, $opValue);
      }

      .text-#{"#{$name}#{$shadeSuffix}\\/#{$opKey}"} {
        color: fn.color-with-opacity($color, $opValue);
      }

      .border-#{"#{$name}#{$shadeSuffix}\\/#{$opKey}"} {
        border-color: fn.color-with-opacity($color, $opValue);
      }
    }
  }
}
