@use "../mixins" as mix;
@use "../variables" as var;

@include mix.generate-utility("justify-content", "justify", var.$justify-content-values);
@include mix.generate-utility("justify-items", "justify-items", var.$justify-items-values);
@include mix.generate-utility("justify-self", "justify-self", var.$justify-self-values);
