@use "../mixins" as mix;
@use "../variables" as var;
@use "../core/functions" as func;


//____________ COLUMNS ____________//
// GRID TEMPLATE COLUMNS
@include mix.generate-utility(grid-template-columns, grid-cols, var.$grid);

// COL START
@include mix.generate-utility(grid-column-start, col-start, var.$grid-numbers);
@include mix.generate-negative-utilities(grid-column-start, col-start, var.$grid-numbers);

// COL END
@include mix.generate-utility(grid-column-end, col-end, var.$grid-numbers);
@include mix.generate-negative-utilities(grid-column-end, col-end, var.$grid-numbers);

// COL
@include mix.generate-utility(grid-column, col, var.$grid-numbers);
@include mix.generate-negative-utilities(grid-column, col, var.$grid-numbers);

// COL-SPAN
@include mix.generate-utility(grid-column, col-span, var.$generate-span);
@include mix.generate-negative-utilities(grid-column, col-span, var.$generate-span);


//____________ ROWS ____________//

//GRID TEMPLATES_ROWS
@include mix.generate-utility(grid-template-rows, grid-rows, var.$grid);

// ROW SPAN
@include mix.generate-utility(grid-row, row-span, var.$generate-span);
@include mix.generate-negative-utilities(grid-row, row-span, var.$generate-span);

// ROW START
@include mix.generate-utility(grid-row-start, row-start, var.$grid-numbers);
@include mix.generate-negative-utilities(grid-row-start, row-start, var.$grid-numbers);

// ROW END

@include mix.generate-utility(grid-row-end, row-end, var.$grid-numbers);
@include mix.generate-negative-utilities(grid-row-end, row-end, var.$grid-numbers);

// ROW
@include mix.generate-utility(grid-row, row, var.$grid-numbers);
@include mix.generate-negative-utilities(grid-row, row, var.$grid-numbers);

// GRID AUTO FLOW
@include mix.generate-utility(grid-auto-flow, grid-flow, var.$grid-flow);

// GRID AUTO COLUMNS
@include mix.generate-utility(grid-auto-columns, auto-cols, var.$grid-auto);
@include mix.generate-utility(grid-auto-rows, auto-rows, var.$grid-auto);


// Grid Alignmnet
@include mix.generate-utility("place-content", "place-content", var.$place-content-values);
@include mix.generate-utility("place-items", "place-items", var.$place-items-values);
@include mix.generate-utility("place-self", "place-self", var.$place-self-values);
