@use "../mixins" as mix;
@use "../variables" as var;

@include mix.generate-utility("mix-blend-mode", "mix-blend", var.$blend-scale);
@include mix.generate-utility("background-blend-mode", "bg-blend", var.$blend-scale);
