@use "../variables/opacity" as var;

@each $key, $value in var.$opacity {
  .opacity-#{$key} {
    opacity: $value;
  }

  .hover\:opacity-#{$key}:hover {
    opacity: $value;
  }

  .focus\:opacity-#{$key}:focus {
    opacity: $value;
  }
}
