@use "../variables" as var;
@use "../core/functions" as func;

// ============================
// WIDTH
// ============================
@each $keyName, $value in var.$sizing {
  $key: func.escape-dot($keyName);
  .w-#{$key} {
    width: $value;
  }
}

@each $keyName, $value in var.$fractions {
  $key: func.escape-fraction($keyName);
  .w-#{$key} {
    width: $value;
  }
}

@each $key, $value in var.$special-sizes {
  .w-#{$key} {
    width: $value;
  }
}

// ============================
// HEIGHT
// ============================
@each $keyName, $value in var.$sizing {
  $key: func.escape-dot($keyName);
  .h-#{$key} {
    height: $value;
  }
}

@each $key, $value in var.$special-sizes {
  .h-#{$key} {
    height: $value;
  }
}

@each $keyName, $value in var.$fractions {
  $key: func.escape-fraction($keyName);
  .h-#{$key} {
    height: $value;
  }
}

@each $keyName, $value in var.$sizing {
  $key: func.escape-dot($keyName);
  .min-w-#{$key} {
    min-width: $value;
  }
}

// ============================
// MAX-WIDTH
// ============================
@each $keyName, $value in var.$sizing {
  $key: func.escape-dot($keyName);
  .max-w-#{$key} {
    max-width: $value;
  }
}

@each $key, $value in var.$max-widths {
  .max-w-#{$key} {
    max-width: $value;
  }
}


// ============================
// MAX-HEIGHT
// ============================
@each $keyName, $value in var.$sizing {
  $key: func.escape-dot($keyName);
  .min-h-#{$key} {
    min-height: $value;
  }
}

@each $keyName, $value in var.$sizing {
  $key: func.escape-dot($keyName);
  .max-h-#{$key} {
    max-height: $value;
  }
}

// ============================
// OTHER
// ============================
.w-screen {
  width: 100vw;
}

.w-svw {
  width: 100svw;
}

.w-lvw {
  width: 100lvw;
}

.w-dvw {
  width: 100dvw;
}

.min-w-0 {
  min-width: 0;
}

.min-w-full {
  min-width: 100%;
}

.min-w-min {
  min-width: min-content;
}

.min-w-max {
  min-width: max-content;
}

.min-w-fit {
  min-width: fit-content;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-svh {
  min-height: 100svh;
}

.min-h-lvh {
  min-height: 100lvh;
}

.min-h-dvh {
  min-height: 100dvh;
}

.max-h-full {
  max-height: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

.max-h-svh {
  max-height: 100svh;
}

.max-h-lvh {
  max-height: 100lvh;
}

.max-h-dvh {
  max-height: 100dvh;
}

.max-h-min {
  max-height: min-content;
}

.max-h-max {
  max-height: max-content;
}

.max-h-fit {
  max-height: fit-content;
}