@use "../mixins" as mix;
@use "../variables" as var;

@include mix.generate-utility(transition, transition, var.$transition-scale);
@include mix.generate-utility(transition-behavior, transition-behavior, var.$transition-behavior-scale);
@include mix.generate-utility(transition-duration, transition-duration, var.$transition-duration-scale);
@include mix.generate-utility(transition-timing-function, "ease", var.$transition-ease-scale);
@include mix.generate-utility(transition-delay, transition-delay, var.$transition-duration-scale);
@include mix.generate-utility(animation, "animate", var.$animation-scale);
