@use "../variables/typography" as var;
@use "../core/functions" as func;

@each $key, $value in var.$font-families {
  .font-#{$key} {
    font-family: #{$value};
  }
}

@each $key, $value in var.$font-sizes {
  .text-#{$key} {
    font-size: #{$value};
    line-height: func.line-height-multiplier($value, 1.5);
  }
}

@each $key, $value in var.$font-weights {
  .font-#{$key} {
    font-weight: #{$value};
  }
}

@each $key, $value in var.$line-heights {
  .text-lh-#{$key} {
    line-height: #{$value};
  }
}

@each $key, $value in var.$letter-spacing {
  .tracking-#{$key} {
    letter-spacing: #{$value};
  }
}

@each $key, $value in var.$text-aligns {
  .text-#{$key} {
    text-align: #{$value};
  }
}