@use "sass:map";
@use "sass:meta";
@use "../variables" as var;
@use "../mixins/generate_utility" as mix;
@use "../core/functions" as func;

@mixin generate-rotate-utilities($axis, $class-prefix, $css-var) {
  $positive-values: ();
  @each $key, $value in var.$rotate-values {
    @if $axis == "" {
      $positive-values: map.merge(
        $positive-values,
        (
          $key: rotate(#{$value}),
        )
      );
    } @else {
      $positive-values: map.merge(
        $positive-values,
        (
          $key: rotate#{$axis }(#{$value}),
        )
      );
    }
  }
  @include mix.generate-utility($css-var, $class-prefix, $positive-values);

  $negative-values: ();
  @each $key, $value in var.$rotate-values {
    @if $value != 0deg and $value != 0 {
      @if $axis == "" {
        $negative-values: map.merge(
          $negative-values,
          (
            "-#{$key}": rotate(-#{$value}),
          )
        );
      } @else {
        $negative-values: map.merge(
          $negative-values,
          (
            "-#{$key}": rotate#{$axis }(-#{$value}),
          )
        );
      }
    }
  }

  @include mix.generate-utility($css-var, $class-prefix, $negative-values);
}

@mixin generate-skew-utilities($axis, $class-prefix, $css-var) {
  $positive-values: ();
  @each $key, $value in var.$skew-values {
    $positive-values: map.merge(
      $positive-values,
      (
        $key: skew#{$axis }(#{$value}),
      )
    );
  }

  @include mix.generate-utility($css-var, $class-prefix, $positive-values);

  $negative-values: ();
  @each $key, $value in var.$skew-values {
    @if $value != 0deg and $value != 0 {
      $negative-values: map.merge(
        $negative-values,
        (
          "-#{$key}": skew#{$axis }(-#{$value}),
        )
      );
    }
  }

  @include mix.generate-utility($css-var, $class-prefix, $negative-values);
}

@mixin generate-scale-utilities($axis, $class-prefix, $css-var) {
  $positive-values: ();
  @each $key, $value in var.$scale-values {
    @if $axis == "" {
      $positive-values: map.merge(
        $positive-values,
        (
          $key: scale(#{$value}),
        )
      );
    } @else {
      $positive-values: map.merge(
        $positive-values,
        (
          $key: scale#{$axis }(#{$value}),
        )
      );
    }
  }

  @include mix.generate-utility($css-var, $class-prefix, $positive-values);

  $negative-values: ();
  @each $key, $value in var.$scale-values {
    @if $value != 0 and $value != 0% {
      @if $axis == "" {
        $negative-values: map.merge(
          $negative-values,
          (
            "-#{$key}": scale(-#{$value}),
          )
        );
      } @else {
        $negative-values: map.merge(
          $negative-values,
          (
            "-#{$key}": scale#{$axis }(-#{$value}),
          )
        );
      }
    }
  }

  @include mix.generate-utility($css-var, $class-prefix, $negative-values);
}

@mixin generate-translate-utilities($axis, $class-prefix, $css-var) {
  $merge-size-values: func.merge-maps(
    var.$sizing,
    var.$fractions,
    (
      none: none,
    )
  );

  @include mix.generate-utility($css-var, $class-prefix, $merge-size-values);

  $negative-values: ();
  @each $key, $value in $merge-size-values {
    @if meta.type-of($value) == "number" and $value != 0 {
      $negative-values: map.merge(
        $negative-values,
        (
          "-#{$key}": -$value,
        )
      );
    }
  }

  @include mix.generate-utility($css-var, $class-prefix, $negative-values);
}

@mixin generate-translate-both-utilities($class-prefix) {
  $merge-size-values: func.merge-maps(
    var.$sizing,
    var.$fractions,
    (
      none: none,
    )
  );

  $positive-both: ();
  @each $key, $value in $merge-size-values {
    $positive-both: map.merge(
      $positive-both,
      (
        $key: (
            --las-translate-x: $value,
            --las-translate-y: $value,
          ),
      )
    );
  }

  @include mix.generate-utility(null, $class-prefix, $positive-both);

  $negative-both: ();
  @each $key, $value in $merge-size-values {
    @if meta.type-of($value) == "number" and $value != 0 {
      $negative-both: map.merge(
        $negative-both,
        (
          "-#{$key}": (
              --las-translate-x: -$value,
              --las-translate-y: -$value,
            ),
        )
      );
    }
  }

  @include mix.generate-utility(null, $class-prefix, $negative-both);
}
