@use "sass:string";
@use "sass:meta";
@use "sass:map";
@use "sass:math";


@function str-replace($string, $search, $replace: "") {
  $string: convert-string($string);
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}


// 1.5 gibi durumları escape eder m-1\.4 gibi
@function escape-dots($str) {
  @return str-replace($str, ".", "\\.");
}

@function escape-slash($str) {
  @return str-replace($str, "/", "\\/");
}

//convert eder
@function convert-string($value) {
  @if meta.type-of($value)=='number' {
    @return #{$value};
  } @else if meta.type-of($value)=='string' {
    @return $value;
  } @else {
    @error 'Input #{$value} is no number or string';
  }
}

// sayı ile başlayan 3xl 2xl gibi class isimlerini escape eder
@function escape-start-number($str) {
  $str: escape-dots($str);
  $str: escape-slash($str);
  $first: string.slice($str, 1, 1);
  $rest: string.slice($str, 2);

  // Eğer ilk karakter sayıysa, CSS escape (\3 + karakter)
  @if string.index("0123456789", $first) {
    @return "\\3#{$first} #{$rest}";
  }

  @return $str;
}
