@mixin spacing-directional($prefix, $property, $value, $key) {
  .#{$prefix}-#{$key} {
    #{$property}: $value;
  }
  .#{$prefix}t-#{$key} {
    #{$property}-top: $value;
  }
  .#{$prefix}r-#{$key} {
    #{$property}-right: $value;
  }
  .#{$prefix}b-#{$key} {
    #{$property}-bottom: $value;
  }
  .#{$prefix}l-#{$key} {
    #{$property}-left: $value;
  }
  .#{$prefix}x-#{$key} {
    #{$property}-left: $value;
    #{$property}-right: $value;
  }
  .#{$prefix}y-#{$key} {
    #{$property}-top: $value;
    #{$property}-bottom: $value;
  }
  // Logical properties
  .#{$prefix}s-#{$key} {
    #{$property}-inline-start: $value;
  }
  .#{$prefix}e-#{$key} {
    #{$property}-inline-end: $value;
  }
}
