

/* ----------------------------------
  Font Sizes
---------------------------------- */
$font-sizes: (
        xs: 0.75rem, // 12px
        sm: 0.875rem, // 14px
        base: 1rem, // 16px
        lg: 1.125rem, // 18px
        xl: 1.25rem, // 20px
        '2xl': 1.5rem, // 24px
        '3xl': 1.875rem, // 30px
        '4xl': 2.25rem, // 36px
        '5xl': 3rem, // 48px
        '6xl': 3.75rem, // 60px
        '7xl': 4.5rem, // 72px
        '8xl': 6rem // 96px
);

/* ----------------------------------
  Border Radius
---------------------------------- */
$border-radius: (
        none: 0,
        sm: 0.125rem,
        default: 0.25rem,
        md: 0.375rem,
        lg: 0.5rem,
        xl: 0.75rem,
        '2xl': 1rem,
        full: 9999px
);

/* ----------------------------------
  Z-Index
---------------------------------- */
$z-index: (
        auto: auto,
        0: 0,
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50
);
