@use "../variables" as var;
@use "../mixins/responsive" as *;
@use "../core/functions" as func;

@mixin _generate-single-rule($property, $value) {
  #{$property}: $value;
}

@mixin _generate-variants($cls, $property, $value, $responsive-prefix: null) {
  $base-cls-name: if($responsive-prefix != null, "#{$responsive-prefix}\\:#{$cls}", $cls);

  .#{$base-cls-name} {
    @include _generate-single-rule($property, $value);
  }

  @each $variant, $selector in var.$variants {
    $variant-cls-name: if($responsive-prefix != null, "#{$responsive-prefix}\\:#{$variant}\\:#{$cls}", "#{$variant}\\:#{$cls}");
    .#{$variant-cls-name}#{$selector} {
      @include _generate-single-rule($property, $value);
    }
  }
}

@mixin _generate-utility-classes-for-scope($property, $class-prefix, $values, $responsive-prefix: null) {
  @each $key, $value in $values {
    $cls-name: if($class-prefix == null, $key, "#{$class-prefix}-#{$key}");
    $cls: func.escape-start-number($cls-name);
    @include _generate-variants($cls, $property, $value, $responsive-prefix);
  }
}

@mixin generate-utility($property, $class-prefix, $values) {
  @include _generate-utility-classes-for-scope($property, $class-prefix, $values);

  @each $bp, $size in var.$breakpoints {
    @include responsive($bp) {
      $escaped-bp: func.escape-start-number($bp);

      @include _generate-utility-classes-for-scope($property, $class-prefix, $values, $escaped-bp);
    }
  }
}