@use "core/reset";
@use "utilities/colors";
@use "utilities/border";
@use "utilities/opacity";
@use "utilities/spacing";
@use "utilities/sizing";
@use "utilities/display";
@use "utilities/typography";
@use "utilities/z-index";
@use "utilities/position";
@use "utilities/flex";